@page
@model TopLearn.Web.Pages.Admin.Courses.EditEpisodeModel
@{
}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">ویرایش دوره    </h1>
    </div>
</div>
<br />
<div class="row">
    <form method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="courseEpisod.CId" />
        <input type="hidden" asp-for="courseEpisod.EpisodeFileName" />
        <input type="hidden" asp-for="courseEpisod.EpisodeId" />
        <div class="col-md-12">
            <div class="form-group">
                <label>عنوان بخش </label>
                <input type="text" class="form-control" asp-for="courseEpisod.EpisodeTitle" />
                <span asp-validation-for="courseEpisod.EpisodeTitle"></span>
            </div>
            <div class="form-group">
                <label> زمان بخش</label>
                <input type="text" class="form-control" asp-for="courseEpisod.EpisodeTime">
                <span asp-validation-for="courseEpisod.EpisodeTime"></span>
            </div>
            <div class="form-group">
                <label>فایل بخش  </label>
                <input type="file" name="fileEpisode" asp-for="courseEpisod.EpisodeFileName" />
                <p class="help-block"> فایل اجباری است</p>
                @if (ViewData["IsExistFile"] != null)
                {
                    <div class="alert  alert-danger">
                        نام فایل معتبرنیست ،لطفا تغییر دهید .
                    </div>

                }
                <span asp-validation-for="courseEpisod.EpisodeFileName"></span>
            </div>
            <div class="form-group">
                <label>دسترسی ها</label>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value=""  asp-for="courseEpisod.IsFree">رایگان است
                    </label>
                </div>

            </div>
            <input class="btn btn-success" value="ذخیره اطلاعات " type="submit">
        </div>
    </form>
</div>