
@{
    ViewData["Title"] = "فعال سازی ";
}

<nav aria-label="breadcrumb">
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">تاپ لرن</a></li>
        <li class="breadcrumb-item active" aria-current="page">فعال سازی حساب کاربری</li>
    </ul>
</nav>
<div class="container"   >
    @if (ViewBag.IsActive)
    {
        <div class="alert alert-success" >
            <p>
                حساب کاربری شما با موفقیت انجام شد.
            </p>
            <p>
                <a href="/Login">
                    ورودبه سایت 
                </a>
            </p>
        </div>
    }
    else
    {
        <div  class="alert alert-danger  "    >
            حساب کاربری یا مشخصات ارسال شده یافت نشد .
        </div>
    }

</div>
